# AWS Credentials
credentials.csv

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# vendor folder
test/vendor

# Dependency reference
test/Gopkg.lock
test/go.mod
